
.dropdown_container{ 
    top: 0;
    right: 0;
    height: 380px;
    width: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

a {
    text-decoration: none;
    color:  #1baefd;
}

.icon_header_section{
    height: 80px;
    width: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding-right: 40px;
    position: absolute;
    top: 0;
    right: 0;
}

.help-button {
    background-color: white;
    cursor: pointer;
    border: 0;
    transition: transform 0.2s ease;
}

.help-button:hover {
    transform: scale(1.25);
}

.contact_icon{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row ;
    cursor: pointer;
}

.contact_icon:hover{
    background-color: #eeeded;
}

.contact_icon_initials{
    color: #1baefd;
    font-size: 17px;
    font-weight: 600;
}

.dropdown_menu_section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown_menu{
    width: 150px;
    height: 150px;
    background-color: #2A3647;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    position: absolute;  
}

.dropdown_menu.active {
    display: block;
}

.dropdown_link{
    width: 90%;
    height: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-size: 14px;
    font-weight: 300;
    padding-left: 16px;
}

.hl_logo_section{
    width: 350px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header_logo{
    width: 30px;
    display: none;
}

.dropdown_link:hover{
    background-color: #2D3D5A;
}

.help_link{
    display: none;
}

@media (max-width: 560px) {
.help_link{
    display: flex;
}

.help-button
{
    display: none;
}

h1{
    display: none;
}

.header_logo{
    margin-left: 15px;
    display: flex;
}
}